---
const {url, title, author, pubDate, tags} = Astro.props;
---

<div class="card">
    <h2>{title}</h2>
    <p>Written by: {author}</p>
    <p>Published on: {pubDate}</p>
    <a class="blog-link" href={url}>Go to blog</a>
    <div class="tags">
        {
            (tags as string[]).map((tag) => (
                <a class="tag" href={`/tags/${tag}`}>
                    {tag}
                </a>
            ))
        }
    </div>
</div>

<style>
    a {
        color: #00539f;
    }

    .card {
        display: block;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        background-color: #f9f9f9;
        transition: background-color 0.3s ease;
    }

    .blog-link {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 0.25em;
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
    }
    .blog-link:hover {
        background-color: #333;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }

    .tag:hover {
        background-color: #e8f4f7;
    }
</style>
